.aboutTopImage{
  height: auto;
  width: 100%;
  background-image: url("https://api.rosewood-rp.net/upload/blue-background.jpg");
  -webkit-box-shadow:inset 0px 0px 77px 1px #000000;
  -moz-box-shadow:inset 0px 0px 77px 1px #000000;
  box-shadow:inset 0px 0px 77px 1px #000000;
}

.aboutTopTex{
  color: white;
  width: 80vw;
}
.aboutTopTex img{
	max-width: 80vw;
}
.profilPic {
	border-radius: 50%;
	width: 10vw;
	margin: 1vh;
}
.profilPicNR {
	width: 10vw;
	margin: 1vh;
}
.profil{
	max-width: 20vw;
	font-size: auto;
	margin: 1vw;
}
.profils h2{
	flex-wrap: wrap;
	font-size: 3.5vh;
}
.profils h5{
	flex-wrap: wrap;
	font-size: 2vh;
}
