.pub1{
	width: 100%;
	height: 50vh;
	background-image: url('https://api.rosewood-rp.net/upload/shopping-mall.jpg');
	background-size: cover;
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
}
.pub1Detail {
	left:0;
	right:0;
    margin:auto;
	background-color: red;
	width: 80vw;
}
.pubText h5 {
  font-family:"DINNextLTPro-MediumCond" !important;
  font-size: 3em;
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: rgba(17, 17, 17, 0.6);
}
.pubText p {
  font-family:"DINNextLTPro-Regular" !important;
  font-size: 1.5em;
  display: inline-block;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: rgba(17, 17, 17, 0.6);
}
.persoPos{
    height: 40vh;
    margin-right: 2em;
}