.navbarParent{
	color: white;
	position: fixed;
	z-index: 3;
}
.cookieInfo{
	position: relative;
	z-index: 3;
	width: 100vw;
 	margin-left: -50vw;
 	left: 50%;
 	height: 32px;
	background-color: var(--dark-blue);
	font-family: "DIN 1451 Mittelschrift";
	font-size: 18px;
	
}
.navbar{
	position: relative;
	z-index: 3;
	height: 64px;
	width: 100vw;
 	margin-left: -50vw;
 	left: 50%;
	background-color: var(--main-blue);
}
.navbar ul {
	margin-left: 300px;
}
li {
	list-style: none;
	margin-right: 1.5em;
}
.mainNav, .mainNav>ul>li {
		float: left;
}
.navbarLink{
	font-family: "DINNextLTPro-Condensed";
	font-size: 24px;
	color: white;
}
.navbarLink:Hover {
		color: #e5e5e5;
		text-decoration: none;	
}
.navbarLeftCorner {
	position: absolute;
	top: 0;
	left:0;
}
.navbarLogo{
	z-index: 4;
	height: 72px;
	width: 283px;
	top:0;
	background-color: var(--dark-blue);
	padding: 1vh;
	font-family: "Loew Bold";
	font-size: 23px;
}
.navbarLogo img {
	margin-left: 0.5vh;
}
.navbarBurgerMenu{ 
	display: none;
	z-index: 4;
	height: 5rem;
	width: 64px;
	top:0;
	background-color: var(--dark-blue);
	padding: 1vh;
	font-family: "Loew Bold";
	font-size: 2em !important;
}
.navbarLogoClip{
	z-index: 2;
	height: 72px;
	width: 72px;
	top:0;
	background-color: var(--dark-blue);
	clip-path: polygon(0 0, 0% 100%, 100% 0);
}
.navTitle{
	display: none;
	font-family: "Loew Bold";
	font-size: 2em;
	width: 100%;
	text-align: center;
}
.becauseTheNavBarIsHere {
	height: 96px;
}

@media screen and (max-width: 992px) {
	.cookieInfo{ 
		display: none;
	}
	.mainNav{ 
		display: none;
	}
	.navbar{
		height: 5em;
	}
	.becauseTheNavBarIsHere {
		height: 5em;
	}
	.navbarLogo{ 
		display: none;
	}
	.navbarBurgerMenu {
		display: block;
	}
	.navbarLogoClip{ 
		height: 5em;
		width: 5em;
	}
	.navTitle{
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	
}

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 5; /* Stay on top */
	top: 0; /* Stay at the top */
	text-align: center;
	background-color: var(--dark-blue);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	font-family: "DINNextLTPro-Condensed";
	text-decoration: none;
	font-size: 4em;
	color: white;
	display: block;
	transition: 0.3s;
}
.sidenav img {
	padding: 8px 8px 8px 32px;
	height: 10em;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #e5e5e5;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}